{% extends 'base_user_center.html' %}
{% load static %}
{% block title %}天天生鲜-用户中心{% endblock title%}
{% block right_content %}
    <div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>
         {% csrf_token %}
		{% for order in order_page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02" id="order_id" order_id = "{{ order.order_id }}">订单号：{{ order.order_id }}</li>
					<li class="col02 stress">{{order.status_name}}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								{% for item in order.items %}
								<ul class="order_goods_list clearfix">
									<li class="col01"><img src="{{ item.sku.image.url}}"></li>
									<li class="col02">{{ item.name }}<em>{{ item.sku.price }}元/{{ item.sku.unite}}</em></li>
									<li class="col03">{{ item.count }}</li>
									<li class="col04">{{ item.amount }}元</li>
								</ul>
								{% endfor %}
							</td>
							<td width="15%">{{ order.total_price }}元 (含运费10元)</td>
							<td width="15%">{{order.status_name}}</td>
							<td width="15%"><a href="#" order_id="{{ order.order_id }}" status="{{ order.order_status }}" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
		{% endfor %}


				<div class="pagenation">
					{% if order_page.has_previous %}
						<a href="{% url 'user:user_center_order' order_page.previous_page_number %}"><上一页</a>
					{% endif %}

					{% for pindex in p_range %}
						<a href="{% url 'user:user_center_order' pindex %}" {% if pindex == page_n.number %} class="active" {% endif %}>{{ pindex }}</a>
					{% endfor %}

					{% if order_page.has_next %}
						<a href="{% url 'user:user_center_order' order_page.next_page_number %}">下一页></a>
					{% endif %}
				</div>
		</div>
{% endblock right_content %}

{% block endscript %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
		$('.oper_btn').each(function (){
			status = $(this).attr('status')

			if (status == 1){$(this).text('去支付')}
			else if (status == 4){$(this).text('去评价')}
			else if (status == 5){$(this).text('已完成')}
		})

		$('.oper_btn').click(function (){


			if (status == 1){
				$.post('/order/pay', params, function (data){
				    order_id = $(this).attr('order_id')
					//console.log(order_id);
					csrf = $('input[name="csrfmiddlewaretoken"]').val()

					params = {'order_id':order_id, 'csrfmiddlewaretoken':csrf}

					if (data.res == 3){
                    // 引导用户到支付页面
                    	window.open(data.pay_url)
                    	$.post('/order/check', params, function (data){
                    		if (data.res == 3){

                    			alert(data.message)
                    			location.reload()
                    		}
                    		else{
                    			alert(data.errmsg)
                    		}
                    	})
					}
					else{
						alert(data.errmsg)
					}
				})
			}
			else if (status == 4){
				order_id = $('#order_id').attr("order_id")
			    location.href = '/order/comment/' + order_id
			}
		})
	</script>

{% endblock endscript %}
